﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="TiendasSitios._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h1 class="text-center">Productos</h1>
    <section class="container row">
        <div runat="server" id="productos" class="col-md-12"></div>
        <asp:Button Visible="false" Text="text" ID="btnP" runat="server" OnClick="btnP_Click" />
    </section>
    



</asp:Content>
